<h1>Group</h1>
<table class="table table-striped table-bordered table-hover" width="744"> 
  <thead>
    <tr>
      <th>Group Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @groups.each do |group| %>
    <tr>
     
      <td><%= group.name %></td>
      <td><%= link_to 'Edit', edit_group_path(group), :class => "btn btn-info" %></td>
      <td><%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Add Group', new_group_path , :class => "btn btn-success"  %>
