<h1>Add A User</h1>
<%= simple_form_for(@user, :url => url_for(:action => 'create', :controller => 'manage')) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email %>
  </div>

<div class="form-inputs">
    <%= f.input :password , required: false%>
  </div>


<%= f.association :groups , as: :check_boxes %>
  


  <div class="form-submit">
    <%= f.button :submit , :class => "btn btn-success"%>
  </div>
<% end %>


<%= link_to 'Back', news_index_path , :class => "btn btn-warning" %>
