<div class='news-title'><%= @news.title %></div>
<div class='news-content'><%= @news.content.html_safe %></div>
<div class='news-updated'><%= @news.updated %></div>

<%= link_to 'Edit', edit_news_path(@news) , :class => "btn btn-edit"%> |
<%= link_to 'Back', news_index_path, :class => "btn btn-back" %>
