<h3>Documents</h3>

<table width="100%" border="0" cellpadding='5'>
  <% @documents.each do |document| 
      @mine = Document.find(document.id)
  %>     
  <tr>
    <td rowspan="3" width='200'>
      <% if document.vlink.blank? %>


      <% if document.file_name_content_type == 'application/pdf' %>
        <%= image_tag("https://s3.amazonaws.com/ws_eli/adobe_icon.png", 
            :border=>0, :size => "200") %>
       <% elsif document.file_name_content_type == 'application/msword' %>
        <%= image_tag("https://s3.amazonaws.com/ws_eli/word_icon.png", 
            :border=>0, :size => "200") %>
       <% elsif document.file_name_content_type == 'application/msexcel' ||'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' %>
        <%= image_tag("https://s3.amazonaws.com/ws_eli/excel_icon.png", 
            :border=>0, :size => "200") %>            
      <% else %>
        <%= image_tag(@mine.file_name.url(),:size => "200" ) %>      
      <% end %> 
      <% else %>
        <%= image_tag("https://s3.amazonaws.com/ws_eli/video.jpg", :border=>0, :size => "200") %>

      <% end %>


    </td>
    <td><h3><%= document.title %></h3></td>
  </tr>


<% if !document.vlink.blank? %>
   <tr>
    <td><%= raw(document.vlink) %>
    </td>
  </tr><tr>
    <td><%= document.content.html_safe %></td>
  </tr>
<% else %>
  <tr>
    <td><%= document.content.html_safe %></td>
  </tr>
  <tr>
    <td><%= link_to "Download Document", document.file_name.url(:original, false) %></td>
  </tr>
<% end %>
  <% if user_signed_in? %>
  <% if  current_user.has_role? :admin %>
  <tr>
    <td><%= link_to 'Edit', edit_document_path(document) , :class => "btn btn-info" %>&nbsp;<%= link_to 'Delete', document, method: :delete, data: { confirm: 'Are you sure?' } , :class => "btn btn-danger" %>
    </td>
  </tr>
  <% end %>
  <% end %>
  <tr>
    <td colspan='3'>&nbsp;</td>
  </tr>
  <% end %>
</table>
<br>
<% if user_signed_in? %>
<% if  current_user.has_role? :admin %>
  <%= link_to 'Add Document', new_document_path, :class => "btn btn-success"  %>
<% end %>
<% end %>