<div class='show-document-title'><%= @document.title %></div>

<div class='show-document-content'><%= @document.content.html_safe %></div>

<div class='show-document-image'><%= image_tag @document.file_name.url() %></div>

<%= link_to 'Edit', edit_document_path(@document), :class => "btn btn-edit"  %> |
<%= link_to 'Back', documents_path, :class => "btn btn-back"  %>
