<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @sub_category.category_id %>
</p>

<p>
  <strong>Integer:</strong>
  <%= @sub_category.integer %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sub_category.name %>
</p>

<%= link_to 'Edit', edit_sub_category_path(@sub_category) %> |
<%= link_to 'Back', sub_categories_path %>
