<h1>Categories</h1>
<table class="table table-striped table-bordered table-hover" width="744"> 
  <thead>
    <tr>
      <th>Category Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>
      <% if category.parent_id == 0 %>
      <td><span class="cat"><%= category.name %></span><br>
        <span class='subcat-container'>+<%= link_to 'add subcategory', 
              new_category_path(:parent_id =>  category.id, :parent_name => category.name ) , :class => "category category-add-child"
      %></span></td>
      <% else %>     
      <td><span class="subcat">
        <%= category.name %></span></td>
     
      <% end %>
      <td><%= link_to 'Edit', edit_category_path(category), :class => "btn btn-info" %></td>
      <td><%= link_to 'Delete', category, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'Add Category', new_category_path , :class => "btn btn-success"  %>
<br><br>