<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @member.password %>
</p>

<%= link_to 'Edit', edit_user_path(@member) %> |
<%= link_to 'Back', users_path %>
